<!DOCTYPE html>
<html>
    <head>
        <title>My MEAN App!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/node_modules/bootstrap-social/bootstrap-social.css" rel="stylesheet">
        <link href="/public/stylesheets/style.css" rel="stylesheet">

        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
        
        <script src="/node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/node_modules/alertify.js/dist/js/ngAlertify.js"></script>
        <script src="/node_modules/ng-flow/dist/ng-flow-standalone.js"></script>
        <script src="/node_modules/underscore/underscore-min.js"></script>

        <script src="/public/javascripts/angularApp.js"></script>
        <script src="/public/javascripts/constants/constants.js"></script>
        <script src="/public/javascripts/factory/util.js"></script>
        <script src="/public/javascripts/factory/auth.js"></script>
        <script src="/public/javascripts/factory/post.js"></script>
        <script src="/public/javascripts/factory/user.js"></script>
        <script src="/public/javascripts/controller/auth.js"></script>
        <script src="/public/javascripts/controller/navbar.js"></script>
        <script src="/public/javascripts/controller/home.js"></script>
        <script src="/public/javascripts/controller/posts.js"></script>
        <script src="/public/javascripts/controller/profile.js"></script>
    </head>
    <body ng-app="flapperNews" flow-init
          flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
          flow-files-submitted="$flow.upload()">
        <script src="/public/javascripts/fbSdk/include.js"></script>  
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#/home/">Home</a>
                </li>
                <li ng-show="isLoggedIn() && !currentUser.profilePhoto" 
                    class="pull-rigth">
                    <img ng-src="/public/images/profiles/icon-user-default.png" 
                         alt="profile-photo"
                         class="profile-photo hand" width="40"/>
                </li> 
                <li ng-show="isLoggedIn() && currentUser.profilePhoto && currentUser.facebook === ''"
                    class="pull-rigth">
                    <img ng-src="/public/images/profiles/{{ currentUser.profilePhoto }}" 
                         alt="profile-photo"
                         class="profile-photo hand" width="40"/>
                </li>
                <li ng-show="isLoggedIn() && currentUser.profilePhoto && currentUser.facebook !== ''"
                    class="pull-rigth">
                    <img ng-src="{{ currentUser.profilePhoto }}" 
                         alt="profile-photo"
                         class="profile-photo hand" width="40"/>
                </li>
                <li ng-show="isLoggedIn() && currentUser.displayName === ''" class="pull-rigth">
                    <a href="/#/profile">{{ currentUser.username }}</a>
                </li>
                <li ng-show="isLoggedIn() && currentUser.displayName !== ''" class="pull-rigth">
                    <a href="/#/profile">{{ currentUser.displayName }}</a>
                </li>
                <li ng-show="isLoggedIn()" class="pull-rigth"><a href="" ng-click="logOut()">Log Out</a></li>
                <li ng-hide="isLoggedIn()" class="pull-rigth"><a href="/#/login">Log In</a></li>
                <li ng-hide="isLoggedIn()" class="pull-rigth"><a href="/#/register">Register</a></li>
            </ul>
        </nav>
        <div class="row margin-top">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>
    </body>
</html>