<div class="page-header">
    <h3>
        <a ng-show="post.link" href="{{post.link}}">
            {{ post.title }}
        </a>
        <span ng-hide="post.link">
            {{ post.title }}
        </span>
    </h3>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvoteComment(comment)"></span>
    {{ comment.upvotes }}
    <span class="glyphicon glyphicon-thumbs-down"
          ng-click="incrementDownvoteComment(comment)"></span>
    {{ comment.downvotes }} posted by {{ comment.author }}
    <span class="comment-body">
    {{ comment.body }}
    </span>
</div>

<br>
<div class="row">
    <button class="btn btn-default" ng-click="addCommentClick = true">New comment</button>
</div>
<br>

<div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>

<form ng-submit="addComment()" ng-show="isLoggedIn() && addCommentClick"
      class="comment-form">

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Author"
               ng-model="author">
    </div>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Comment"
               ng-model="body">
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
</form>