<div class="page-header">
    <h1>My profile</h1>
</div>

<form style="margin-top:30px;">

    <table class="table-spacing">
        <tr>
            <td>
                <label>Username: </label>
            </td>
            <td>
                <input type="text" id="profile.username"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username">
            </td>
        </tr>
        <tr>
            <td>
                <label>Photo:</label>
            </td>
            <td>
                <img class="thumbnail" ng-src="/public/images/profiles/icon-user-default.png" 
                 ng-hide="$flow.files.length || user.profilePhoto"/>
                <img class="thumbnail" ng-src="/public/images/profiles/{{ user.profilePhoto }}"
                     ng-show="!$flow.files.length && user.profilePhoto"/>            
                <img class="thumbnail" flow-img="$flow.files[0]" ng-show="$flow.files.length"/>
                
                <button class="btn btn-default into-image" ng-hide="$flow.files.length" flow-btn 
                        tooltip="Only PNG, GIF, JPG or JPEG files with 1024 Kb maximum allowed">Select photo</button>
                <button class="btn btn-default into-image" ng-show="$flow.files.length" flow-btn
                        tooltip="Only PNG, GIF, JPG or JPEG files with 1024 Kb maximum allowed">Change</button>
                <a href="#" class="btn btn-default into-image" ng-show="$flow.files.length"
                   ng-click="$flow.cancel()" 
                   tooltip="Only PNG, GIF, JPG or JPEG files with 1024 Kb maximum allowed">Remove</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="pull-right">
                <button type="submit" class="btn btn-primary" ng-click="editProfile()">Save</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </td>
        </tr>
    </table>
</form>